.Card {
    padding: 1.5em;
}

.preco {
    display: flex;
    flex-direction: column;
}

.preco button {
    width: 12.5em;
}

.nomeProduto {
    height: 1em;
}

.descricao {
    width: 16em;
    height: 2em;
}