header {
    width: 100em;
    height: 31.25em;
    background: #707070 0% 0% no-repeat padding-box;
    background-image: -webkit-linear-gradient(86deg, #fff 50%, #707070 50%);
    opacity: 1;
  }
  
 
